.containe {
    width: 100vw;
    height: 100%;
  }
  
  .nav-bar {
    text-align: right;
    width: 100%;
  
  }
  
  .nav-bar ul {
    list-style-type: none;
  background-color: #ffffff;
  padding: 25px;
  padding-right: 90px; 
  
  }
  
  .nav-bar li {
    display: inline-block;
    margin-left: 20px;
  
  }
  
  .nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
  
  }
  .nav-bar a:hover{
      color: #007bff; 
  }
  #sir{
      color: red;
  }
          /* se */
          .oo{
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 0;
              background-color: #fff;
              color: #333;
          }
          .container {
              width: 60%;
              margin: 0 auto;
              padding: 20px;
          }
          h1 {
              font-size: 36px;
              font-weight: bold;
              color: #333;
          }
          .post {
              margin-bottom: 40px;
              padding-bottom: 20px;
              border-bottom: 1px solid #e0e0e0;
          }
          .post h2 {
              font-size: 24px;
              font-weight: bold;
              color: #333;
          }
          .post .meta {
              font-size: 14px;
              color: #999;
          }
          .post .meta span {
              margin-right: 10px;
          }
          .post .meta .tags {
              color: #007bff;
          }
          .post p {
              font-size: 16px;
              color: #666;
          }
          /* footer */
          .four {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f9fa;
  
  
    }
    
    .footer {
      width: 100%;
      text-align: center;
      padding: 20px 20px;
      background-color: white;
      height: 20%;
    }
    
    .social-icons {
      margin-bottom: 10px;
    }
    
    .social-icons a {
      margin: 0 10px;
      display: inline-block;
      font-size: 24px;
      color: #555;
    }
    .social-icons a:hover {
      color: #007bff; 
    }
    
    footer p {
      font-size: 14px;
      color: #555;
    }
    @media (max-width: 480px) {
      .social-icons a {
        font-size: 20px;
      }
      .nav-bar ul{
        text-align: center;
      }
    }